# Configuration de l'éditeur de liens pour une cartouche SNES LoROM de 32 Ko.
# Le CPU voit la ROM aux adresses $8000-$FFFF de la banque 0. L'en-tête de
# cartouche vit à $FFC0, les deux jeux de vecteurs (natif + émulation) à $FFE0.
MEMORY {
    ZP:  start = $0000, size = $0100, type = rw;
    RAM: start = $0440, size = $1000, type = rw;   # OAM en $0200-$043F ; les variables au-dela
    ROM: start = $8000, size = $8000, fill = yes, fillval = $00;
}
SEGMENTS {
    CODE:       load = ROM;
    RODATA:     load = ROM;
    SNESHEADER: load = ROM, start = $FFC0;
    VECTORS:    load = ROM, start = $FFE0;
    ZEROPAGE:   load = ZP,  type = zp;
    BSS:        load = RAM, type = bss;
}
